extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/', method='POST')
    label Whut 
    input(type="email", placeholder="here;s sfftuff")
    button(type="submit") Submit
