extends layout

block content
  h1= title
  h2 Welcome to #{title}
  if error
    p Unable to complete request. Please try again.
  form(action='/', method='POST')
    label Whut 
    input(name='lead_email' type="email", placeholder="here;s sfftuff")
    button(type="submit") Submit
  if leads
    h1 Leads
    for lead in leads
      p 
        a(href="/lead/" + lead.id) #{lead.email}